.DS_Store
**/__pycache__
**/.pytest_cache
**/.idea
merged_data/
merged_data/merged_crime_dataset.parquet
data/
.venv/
env/
venv/
.vscode/
*.csv
*.parquet
*.xlsx
*.json
*.geojson
*.shp
*.shx
*.dbf
*.prj